---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";

const { content } = Astro.props;
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-12 md:pt-12 md:pb-24 gap-5">
  <div>
    {content.title && <h1 class={content.titleClass}>{content.title}</h1>}
    {
      content.description && (
        <p class="text-lg mt-4 text-slate-600 max-w-xl">
          {content.description}
        </p>
      )
    }
    {
      content.links && content.links.length > 0 && (
        <div class="mt-6 flex flex-col sm:flex-row gap-3">
          {content.links.map((link) => (
            <Link
              href={link.href}
              size="lg"
              style={link.style}
              rel="noopener"
              class="flex gap-1 items-center justify-center"
              target="_blank">
              <Icon class={link.icon.class} name={link.icon.name} />
              {link.text}
            </Link>
          ))}
        </div>
      )
    }
  </div>
  {
    content.image && (
      <div class={content.image.class}>
        <Picture
          class={content.image.picClass}
          src={content.image.src}
          alt={content.image.alt}
          widths={content.image.widths}
          sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 460px"
          loading="eager"
          format="avif"
        />
      </div>
    )
  }
</main>
